.product-card {
  border: 1px solid #eee;
  border-radius: 4;
  padding: 10px;
  width: 200px;
  margin: 10px;
}

.product-card b {
  color: red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}